/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  box-sizing: content-box;
  font-family: "Playfair Display", serif;
}

h1 {
  display: none;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.header {
  padding-top: 71px;
}

.header__list {
  margin: 0 auto;
}

.header__link {
  color: var(--navigation-color);
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
}
.header__link:hover, .header__link:focus {
  color: #03A9F4;
}

@media screen and (min-width: 768px) {
  .header__list {
    width: 555px;
    display: flex;
    justify-content: space-between;
  }
}
.main {
  padding-top: 92px;
  padding-bottom: 66px;
}

.main__title {
  color: #626262;
  margin-bottom: 40px;
  margin-top: 32px;
  font-size: 24px;
}

.main__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__item {
  width: 450px;
  margin-bottom: 130px;
  display: block;
}

.main__img {
  width: 100%;
  margin-bottom: 32px;
}

.main__name {
  color: #B4AD9E;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.main__classparagraf {
  color: #626262;
  font-size: 14px;
  line-height: 120%;
}

.wrap__btn {
  display: flex;
  justify-content: center;
}

.button {
  background: #fff;
  color: #626262;
  border: solid #626262 1px;
  padding: 20px 40px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .main__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main__item {
    width: 350px;
  }
  .button {
    padding: 20px 48px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 25px 60px;
  }
}/*# sourceMappingURL=main.css.map */